Options -Indexes
Options -MultiViews
Options +FollowSymLinks

<Files ".htaccess">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirection vers le dossier public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Sécurité - Bloquer l'accès aux fichiers sensibles
<FilesMatch "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files "composer.*">
    Order allow,deny
    Deny from all
</Files>

<Files "README.md">
    Order allow,deny
    Deny from all
</Files>
